/* normalize */
body {
  margin: 0;
  padding: 0;
  background: #4a7d8e url(images/web_bg.png) center center repeat-y;
}
p {
  margin: 0;
  padding: 1em 0;
}

/* page layout */
.row {
  width: 480px;
  margin: 0 auto;
}



/* Scenes */
#game {
  width: 480px;
  height: 600px;
  margin: 0 auto;
  border: 1px solid #333;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.scene {
  background: white;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transition: all .4s ease-out;
}

  .scene.out {
    top: -150%;
  }
  .scene.in {
    top: 0;
  }

.button {
  width: 145px;
  height: 39px;
  display: block;
  margin: auto;
  text-indent: 120%;
  white-space: nowrap;
  overflow: hidden;
  background-repeat: no-repeat;
}
  .button:hover {
    background-position: 0 -39px;
  }
  .button:active {
    background-position: 0 0;
  }
  

#start-scene {
  background: url(images/menu_bg.png);
}

  #start-btn {    
    background-image: url(images/start_btn.png); 
    margin-top: 270px;
  }

#game-scene {
  background: url(images/game_bg.png);
}

  #gameover-btn {
    background: url(images/)
  }

#game-scene.out {
  opacity: 0;
  top: 0;
  -webkit-transition-delay: .5s;
}

#game-scene.out, #summary-scene.in {
  transition-delay: .5s;
}

#summary-scene {
  background: url(images/summary_bg.png);
}

  #next-level-button {
    background-image: url(images/next_btn.png);
    margin-top: 370px;
  }  

#summary-scene.in {
  -webkit-transition-delay: .5s;
}

#gameover-scene {
  background: url(images/gameover_bg.png);
}

  #back-to-menu-button {
    background-image: url(images/restart_btn.png);
    margin-top: 270px;
  }

#stage {  
  position: absolute;
  width: 100%;
  height: 30px;
  line-height: 30px;
}

/* Template */
#element-template {
  display: none;
}

/* quest */
#quest {
  width: 200px;
  height: 200px;  
  position: absolute;
  left: 30px;
  top: 70px;
}

/* individual pattern */
.pattern {
  width: 200px;
  height: 200px;
  background-size: contain;
}
.pattern[data-pattern='1'] {
  background-image: url(images/pattern1.png);
}
.pattern[data-pattern='2'] {
  background-image: url(images/pattern2.png);
}
.pattern[data-pattern='3'] {
  background-image: url(images/pattern3.png);
}
.pattern[data-pattern='4'] {
  background-image: url(images/pattern4.png);
}
.pattern[data-pattern='5'] {
  background-image: url(images/pattern5.png);
}
.pattern[data-pattern='6'] {
  background-image: url(images/pattern6.png);
}

.composition {
  position: relative;
  height: 200px;
  background: white;
}
.composition > .pattern {
  position: absolute;
}

/* player's composition and pattern */
#your-composition {
  position: absolute;
  width: 100px;
  height: 100px;
  right: 65px;
  top: 120px;
  border: 3px solid #999;  
}
#your-composition > .pattern {
  width: 100px;
  height: 100px;
  position: absolute;
}

#undo-button {
  position: absolute;
  right: 70px;
  top: 240px;
  z-index: 999;
  background: url(images/undo_btn.png) no-repeat;
  width: 90px;
  height: 26px;
}
  #undo-button:hover {
    background-position: 0 -26px;
  }

/* deck and pattern */
.deck {
  position: absolute;
  top: 360px;
  left: 20px;
}
.pattern-slot {
  width: 100px;
  height: 100px;
  outline: 4px solid #BC7702;
  float: left;
  border-radius: 3px;
  margin: 10px 0 0 10px;
}
  .pattern-slot:hover {
    outline-color: #D68700;
  }
  .pattern-slot:active {
    outline-color: #BC7702;
  }

.deck .pattern {
  width: 100%;
  height: 100%;  
}


#timer {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 100%;
  background: #7ADAF6 url(images/timer_symbol.png) no-repeat 5px 50%;  
  border-bottom: 1px solid #4F8EA1;
  transition: all .3s ease-out;
}
